<!DOCTYPE html>

<html>

	<head>
		<title>About</title>
		<link rel="icon" href="/img/spidy.jpg">
		<link rel="stylesheet" type="text/css" href="/css/style.css">
	</head>

	<body>
		<div class="main-content"> 
			{{>header}}
			<p>This site uses data from mapbox.com and darksky.net</p>
			<img class="portrait" src="/img/batman.jpg">
		</div>
		
		{{>footer}}
	</body>

</html>